@import url("https://fonts.googleapis.com/css2?family=Mouse+Memoirs&family=Roboto:wght@300&display=swap");
#botonera {
  background-color: white;
  display: flex;
  justify-content: space-between;
  font-size: 1.5em;
}
#botonera ul {
  display: flex;
}
#botonera ul li {
  list-style: none;
}
#botonera ul li a:hover {
  color: black;
}

#logo {
  width: 48%;
  margin-left: 7px;
}

#navBar {
  padding-top: 0;
  margin-top: 0;
}

#carrusel {
  width: 600px;
  height: 700px;
}

.card {
  border-radius: 10px;
  margin-left: 5px;
}

.promo {
  font-size: 1.6em;
  line-height: 1em;
  color: grey;
  font-family: "Mouse Memoirs", sans-serif;
  letter-spacing: 0.1em;
  text-align: center;
}

.texto {
  font-size: 1.2em;
  line-height: 0em;
  color: grey;
  text-align: center;
  margin-top: 13px;
}

h1 {
  font-size: 1.6em;
  line-height: 1em;
  color: rgb(100, 160, 200);
  font-family: "Mouse Memoirs", sans-serif;
  letter-spacing: 0.1em;
  text-align: center;
  padding: 20px;
}

h2 {
  font-size: 1.6em;
  line-height: 1em;
  color: rgb(100, 160, 200);
  font-family: "Mouse Memoirs", sans-serif;
  letter-spacing: 0.1em;
  text-align: center;
  padding: 20px;
}

article {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}
article img {
  width: 100%;
}

.articulo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  padding-right: 15px;
  padding-left: 15px;
}
.articulo img {
  width: 100%;
}

.scale:hover {
  transform: scale(1.2);
  cursor: pointer;
  transition: 1s;
}

h4 {
  font-family: "Mouse Memoirs", sans-serif;
  color: #C5F479;
  letter-spacing: 0.1em;
  font-size: 2em;
}

.carrito {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.carrito img {
  width: 38%;
}

.contacto {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  margin-top: 15px;
  padding: 10px;
}
.contacto ul {
  display: flex;
  list-style: none;
  cursor: pointer;
}
.contacto ul li {
  margin-right: 20px;
  padding-top: 10px;
}
.contacto ul li a {
  text-decoration: none;
}
.contacto img {
  width: 35px;
}

#pie_encabezado {
  font-size: 1.2em;
  line-height: 1.2em;
  color: white;
  background-color: #C5F479;
  text-align: center;
  font-weight: bold;
  letter-spacing: 3px;
  margin-top: 10px;
  font-family: "Roboto", sans-serif;
}

.body {
  background-color: black;
}

.textoError {
  font-family: "Roboto", sans-serif;
  font-size: 2em;
  color: white;
  margin-top: 40px;
  text-align: center;
}

#formulario {
  padding: 15px;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 0.5px;
  border: 1px solid rgba(197, 244, 121, 0.5);
  border-radius: 10px;
  box-shadow: 0px 3px 7px #B5C1C5, 0 0 0 2px rgba(197, 244, 121, 0.5) inset;
  font-family: "Roboto", sans-serif;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

form {
  display: flex;
  justify-content: center;
  align-items: center;
}

.shop, .ingresar, .comprar {
  background-color: rgba(255, 255, 0, 0.6);
  color: grey;
  border-radius: 10px;
  text-align: center;
  border: none;
  padding-left: 6px;
  padding-right: 6px;
}
.shop:hover, .ingresar:hover, .comprar:hover {
  box-shadow: 1px 5px 14px 1px rgba(0, 0, 0, 0.42);
  -webkit-box-shadow: 1px 5px 14px 1px rgba(0, 0, 0, 0.42);
  -moz-box-shadow: 1px 5px 14px 1px rgba(0, 0, 0, 0.42);
  -o-box-shadow: 1px 5px 14px 1px rgba(0, 0, 0, 0.42);
  -ms-box-shadow: 1px 5px 14px 1px rgba(0, 0, 0, 0.42);
  cursor: pointer;
}

.comprar {
  background-color: rgba(255, 255, 0, 0.6);
  margin-top: 8px;
  margin-bottom: 12px;
}

.ingresar {
  text-decoration: none;
  background-color: rgba(255, 255, 0, 0.6);
  color: grey;
  padding-right: 10px;
  padding-left: 10px;
}

/*# sourceMappingURL=style.css.map */
