form {
	display: flex;
	justify-content: center;
	align-items: center;
}
.shop{
	background-color: $amarillo;
	color: map-get($map:$colors, $key:'dos');
	border-radius: 10px;
	text-align: center;
	border: none;
	padding-left: 6px;
	padding-right: 6px;
	&:hover{
	box-shadow: 1px 5px 14px 1px rgba(0,0,0,0.42);
	-webkit-box-shadow: 1px 5px 14px 1px rgba(0,0,0,0.42);
	-moz-box-shadow:1px 5px 14px 1px rgba(0,0,0,0.42);
	-o-box-shadow: 1px 5px 14px 1px rgba(0,0,0,0.42);
	-ms-box-shadow: 1px 5px 14px 1px rgba(0,0,0,0.42);
	cursor: pointer;

}
}
.comprar {
	@extend .shop;
	background-color: $amarillo;
	margin-top: 8px;
	margin-bottom: 12px;
}


.ingresar {
	@extend .shop;
	text-decoration: none;
	background-color: $amarillo;
	color: grey;
	padding-right: 10px;
	padding-left: 10px;
}