
.shop{
	background-color: $amarillo;
	color: map-get($map:$colors, $key:'uno');
	border-radius: 10px;
	text-align: center;
	border: none;
	margin-left: 100px;
	&:hover{
	box-shadow: 1px 5px 14px 1px rgba(0,0,0,0.42);
	-webkit-box-shadow: 1px 5px 14px 1px rgba(0,0,0,0.42);
	-moz-box-shadow:1px 5px 14px 1px rgba(0,0,0,0.42);
	-o-box-shadow: 1px 5px 14px 1px rgba(0,0,0,0.42);
	-ms-box-shadow: 1px 5px 14px 1px rgba(0,0,0,0.42);
	cursor: pointer;
}
}
.comprar {
	@extend .shop;
	background-color: $amarillo;
	margin-top: 8px;
	margin-bottom: 12px;
}

.ingresar {
	@extend .shop;
	text-decoration: none;
	background-color: $rosa;
	color: white;
	padding: 7px 10px;
	margin-left: 0;
}