//botones

form {
	@include ubi(center, center, row);
}

.shop {
	@include margin (5px, 5px, 0, 0);
	@include padding (0, 0, 10px, 10px);
	font-family: $fontMain;
	background-color: $purple;
	color: map-get($map:$colors, $key:'uno');
	font-weight: bold;
	font-size: 13px;
	border-radius: 10px;
	border: none;
	&:hover {
	box-shadow: 1px 5px 14px 1px rgba(0,0,0,0.42);
	-webkit-box-shadow: 1px 5px 14px 1px rgba(0,0,0,0.42);
	-moz-box-shadow:1px 5px 14px 1px rgba(0,0,0,0.42);
	-o-box-shadow: 1px 5px 14px 1px rgba(0,0,0,0.42);
	-ms-box-shadow: 1px 5px 14px 1px rgba(0,0,0,0.42);
	cursor: pointer;
}
}

.ingresar {
	@extend .shop;
	@include padding (0, 0, 10px, 10px);
	text-decoration: none;
}

.comprar {
	@extend .shop;
	@include padding (0, 0, 10px, 10px);
	@include margin (20px, 15px, 0, 0);
	letter-spacing: 1px;
	background-color: $green;
}


