
$fontMain: 'Roboto', sans-serif;
@import url('https://fonts.googleapis.com/css2?family=Mouse+Memoirs&family=Roboto:wght@300&display=swap');
$fontSecondary: 'Fredoka', sans-serif;
@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Fredoka:wght@500&display=swap');

$textRegular: 400;
$textLight: 300;
