@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
$fontMain: 'Roboto', sans-serif;

//tamaño
$textXl: 50px;
$textLg: 30px;
$textMd: 21px;
$textSm: 16px;

$textBold:600;
$textRegular: 400;
$textLight: 300;
