
$fontMain: 'Roboto', sans-serif;
@import url('https://fonts.googleapis.com/css2?family=Mouse+Memoirs&family=Roboto:wght@300&display=swap');
$fontSecondary: 'Mouse Memoirs', sans-serif;

$textRegular: 400;
$textLight: 300;
