
@media screen and (max-width: 700px){
#pie_encabezado {
	font-size:12px;
}

.contacto img {
	width: 30px;
}

.carrito img {
	width: 60px;
}

#logo {
	width: 45%;
}

#botonera {
	font-size: 12px;
}

}

@media screen and (max-width: 400px){
#pie_encabezado {
	font-size:10px;
}

.registro {
	font-size: 13px;
}

.contacto img {
	width: 25px;
}

.carrito img {
	width: 40px;
}

#botonera {
	font-size: 10px;
} 

#logo {
	width: 35%;
}

}