//tablet

@media screen and (max-width: 700px){

#pie_encabezado {
	font-size:12px;
}

.carrito img {
	width: 70px;
}

#logo {
	width: 45%;
}

#botonera {
	font-size: 12px;
}

}

//mobile

@media screen and (max-width: 400px){
#pie_encabezado {
	font-size:10px;
}

h1 {
	font-size: 13px;
}

h2 {
	font-size: 13px;
}

.texto {
	font-size: 12px;
}

.registro {
	font-size: 13px;
}

.contacto img {
	width: 25px;
}

.carrito img {
	width: 50px;
}

#botonera {
	font-size: 10px;
} 

#logo {
	width: 35%;
}

.img-thumbnail {
	&:hover{
		transform: none;
	}
}
}

