//mixins

@mixin texto($fontSize, $lineHeight, $color){
	text-align: center;
	font-family: 'Roboto', sans-serif;
	font-size: $fontSize;
	line-height: $lineHeight;
	color: $color;
}

@mixin ubi($justify, $align, $direction){
	display: flex;
	justify-content: $justify;
	align-items: $align;
	flex-direction: $direction;
}

@mixin padding($top, $bottom, $left, $right){
	padding-top: $top;
	padding-bottom: $bottom;
	padding-left: $left;
	padding-right: $right;
}

@mixin margin($top, $bottom, $left, $right){
	margin-top: $top;
	margin-bottom: $bottom;
	margin-left: $left;
	margin-right: $right;
}