//nesting - anidacion

#botonera{
	background-color: map-get($map:$colors,$key:'uno');
	display: flex;
	justify-content: space-between;
	font-size: 1.5em;
	ul{
		display: flex;
		li{
			list-style: none;
			a{
			    &:hover{
			    	color: map-get($map:$colors,$key:'tres');
			    }
			}
		}

	}
}
#logo{
	width: 48%;
	margin-left: 7px;
}

#navBar {
	padding-top: 0;
	margin-top: 0;
}