//nesting - anidacion

#botonera{
	background-color: map-get($map:$colors,$key:'uno');
	padding: 5px 20px;
	margin-right: 10px;
	display: flex;
	justify-content: space-between;
	font-size: 1.4em;
	ul{
		display: flex;
		li{
			list-style: none;
			a{
			    &:hover{
			    	color: map-get($map:$colors,$key:'tres');
			    }
			}
		}

	}
}
#logo{
	width: 123px;
	margin-left: 10px;
}
