#carrusel {
	padding-right: 20px;
	width: 600px;
	height: auto;
}

#tarjeta {
	padding-left: 30px;
}

.promo {
	@include texto(1.2em, 1em, grey);
}

.texto {
	@include texto(1.2em, 0em, grey);
	text-align: center;
	margin-top: 13px;
}

h1 {
	@include texto(1.6em, 1em, $amarillo);
	font-family: $fontSecondary;
	letter-spacing: 0.1em;
	text-align: center;
	padding: 20px;
}
h2 {
	@include texto(2em, 2em, $celeste);
	font-family: $fontSecondary;
	letter-spacing: 0.2em;
	text-align: center;
}

article {
	@include ubi(space-between, center, column);
	    img{
		width: 100%;
	}
}
.articulo {
	@include ubi(space-between, center, row);
    padding: 10px;
        img{
    	width: 100%;
    }	
}

.scale:hover {
	transform: scale(1.2);
	cursor: pointer;
	transition: 1s;
}

.error {
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: center;
}

.textoError {
	margin-top: 50px;
	text-align: center;
}

.container {
      position: relative;
           .text {
           background-color: white;
           color: $celeste;
           border-radius: 50px;
           padding-left: 10px;
           padding-right: 10px;
           position: absolute;
           color: white;
           top: 390px;
           text-align: center;
        }
    }

h4 {
    font-family: $fontSecondary;
    color: $celeste;
    letter-spacing: 0.1em;
    font-size: 2em;

}