#carrusel {
	padding-right: 20px;
	height: 590px;
}

#tarjeta {
	padding-left: 30px;
}

.promo {
	@include texto(1.2em, 1em, grey);
}

.texto {
	@include texto(1.2em, 0em, grey);
	text-align: center;
	margin-top: 13px;
}

h1 {
	@include texto(1.6em, 1em, $amarillo);
	font-family: $fontSecondary;
	letter-spacing: 0.1em;
	text-align: center;
	padding: 20px;
}
h2 {
	@include texto(2em, 2em, $celeste);
	font-family: $fontSecondary;
	letter-spacing: 0.2em;
	text-align: center;
}

article {
	@include ubi(space-between, center, column);
	    img{
		width: 100%;
	}
}
.articulo {
	@include ubi(space-between, center, row);
    padding: 10px;
        img{
    	width: 100%;
    }	
}

.scale:hover {
	transform: scale(1.2);
	cursor: pointer;
	transition: 1s;
}


